<!DOCTYPE html>
<html>

<head>
    <title>HIT Webinar</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Jiancheng Yang, 杨健程, HIT Webinar, HIT网络研讨会">
    <meta name="description" content="HIT Webinar Homepage">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vender/bootstrap.min.css" rel="stylesheet">
    <script src="vender/vue.min.js"></script>
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon" />
</head>


<body>

    <div class="container" id="app">

        <div class="row">
            <div class="col">
                <img src="assets/logo.png" class="img-fluid">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <h5>
                    <span v-for="(count, topic) in topicCounter">
                        <span class="badge" v-on:click="selectedTopic = topic"
                            v-bind:class="[ selectedTopic == topic ? 'badge-dark': 'badge-light']">
                            {{topic}} ({{count}})
                        </span>
                        &nbsp;
                    </span>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div v-for="(item, pid) in reports" style="text-align:justify; text-justify:inter-ideograph"
                    v-on:mouseover="hoverRepId = pid" v-on:mouseleave="hoverRepId = -1"
                    v-if="item.topics.includes(selectedTopic)">
                    <div v-bind:class="{'bg-light': hoverRepId === pid}">
                        <h4>
                            <span v-if="item.id.startsWith('routine')" class="badge badge-info">
                                常规活动第{{item.id.slice(7)}}期
                            </span>
                            <span v-else class="badge badge-warning">
                                特邀报告
                            </span>
                            <span v-html="item.title"></span>
                        </h4>

                        <i>{{item.date}}</i>
                        &nbsp;

                        <span v-if="item.id.startsWith('routine')">
                            <span v-if="item.speakerPaper">[论文分享]
                                {{item.speakerPaper}}
                                &nbsp;
                            </span>
                            <span v-if="item.speakerAuthor">[作者精读]
                                {{item.speakerAuthor}}
                                &nbsp;
                            </span>
                            <span v-if="item.host">[主持人]
                                {{item.host}}
                                &nbsp;
                            </span>
                            <span v-if="item.speakerNews">[新闻分享]
                                {{item.speakerNews}}
                            </span>
                        </span>
                        <span v-else>
                            [特邀嘉宾]
                            {{item.speaker}}
                            &nbsp;
                            [主持人]
                            {{item.host}}
                        </span>

                        <br>

                        <span v-if="item.materials">
                            <span v-for="material in item.materials">
                                [<a v-bind:href="material.href" target="_blank">{{material.tag}}</a>]
                            </span>
                        </span>
                    </div>

                    <p align="center">
                        <img v-if="item.poster && (hoverRepId === pid)" v-bind:src="'assets/poster/'+item.poster"
                            class="img-fluid" style="max-width:400px;width:100%;height:auto;">
                    </p>

                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div v-for="(item, pid) in tests" style="text-align:justify; text-justify:inter-ideograph"
                    v-if="item.topics.includes(selectedTopic)">
                    <div>
                        <h4>
                            <span class="badge badge-light">
                                试运行
                            </span>
                            <span v-html="item.title"></span>
                        </h4>

                        <i>{{item.date}}</i>
                        &nbsp;

                        <span v-if="item.speakerPaper">
                            [论文分享]
                            {{item.speakerPaper}}
                            &nbsp;
                            [新闻分享]
                            {{item.speakerNews}}
                        </span>
                        <span v-else>
                            [特邀嘉宾]
                            {{item.speaker}}
                            &nbsp;
                            [主持人]
                            {{item.host}}
                        </span>

                        <br>

                        <span v-if="item.materials">
                            <span v-for="material in item.materials">
                                [<a v-bind:href="material.href" target="_blank">{{material.tag}}</a>]
                            </span>
                        </span>
                    </div>

                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>
                    关于
                </h2>
                <p style="text-align:justify; text-justify:inter-ideograph">
                    <span v-html="about"></span>
                </p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col">
                <h2>
                    现任组委
                </h2>
                // TODO：组织者信息（应该分为组委和讲者）

                <h2>
                    往期组委
                </h2>
                // TODO：组织者信息（应该分为组委和讲者）

                <h2>
                    合作单位
                </h2>
                // TODO：合作单位信息
            </div>
        </div> -->

        <div class="row">
            <div class="col">
                <h4>
                    诚邀 HIT Webinar 讲者
                </h4>
                <p style="text-align:justify; text-justify:inter-ideograph">
                    作为一个公益性质的开放网络研讨会，我们邀请你成为 HIT Webinar
                    讲者。你可以作为常规活动的参与者，分享论文解读和行业新闻；也可以作为特邀嘉宾来分享自己的研究工作或主题报告。在这里，你可以收获志同道合的小伙伴进行有趣的讨论，也可以拓宽视野，也许也可以作为你的练习场。HIT
                    Webinar成立的初心就是交朋友，我们希望它的底线是能成为对参与者有价值的活动。
                    <br>
                    填写该<a href="https://wj.qq.com/s2/11591618/6927/" target="_blank">问卷</a>，期待你的加入！
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>
                    特别鸣谢
                </h4>
                <p style="text-align:justify; text-justify:inter-ideograph">
                    <!-- <a href=''>王佳丽</a> 设计了HIT Webinar 清爽专业的视觉元素，并持续更新海报。 -->
                    <b>王佳丽</b> 设计了HIT Webinar 清爽专业的视觉元素并持续更新海报内容。
                </p>
            </div>
        </div>

        <hr>

        <p align="center">
            Copyright © {{site.year}} <span class="d-block d-sm-none"></span>
            HIT Webinar 团队
        </p>

        <p align="center">
            <small>
                This
                <a v-bind:href="site.siteURL" target="_blank">website</a>
                created by
                <a v-bind:href="site.creatorURL" target="_blank">{{site.creator}}</a>
                is hosted on
                <a v-bind:href="site.repoURL" target="_blank">GitHub</a>.
            </small>
        </p>

        <p align="center" v-show="site.showPageviews">
            <!-- Please DO NOT use the following page tracker if you are using my website as template. -->
            <small>Pageviews since 2023</small><br>
            <a href="https://clustrmaps.com/site/1bso5" title="Visit tracker">
                <img
                    src="https:///www.clustrmaps.com/map_v2.png?d=gL5NFeMPPK6kDESB2pWmbN-2sJuaFntXJno2i7tIv0A&cl=ffffff">
            </a>
        </p>


    </div>

    <script src="vender/jquery-3.5.1.min.js"></script>
    <script src="vender/bootstrap.min.js"></script>

    <script src="assets/data.js"></script>
    <script src="assets/app.js"></script>

</body>

</html>